@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*
{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.main
{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.profile-card
{
    margin-top: 60px;
    background-color:#D4F1F4 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 300px;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #ffffff40;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.image
{
    position: relative;
    height: 150px;
    width: 150px;
}

.image .profile-pic
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);

}

.details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.details h2
{
    font-size: 33px;
    font-weight: 600;
}

